.container{
    height: 35px;
    width: 130px;
    border: 1px #04ACB5 solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #979797;
    font-size: 0.9rem;
    cursor: pointer;
}

.modalBox{
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.day{
    color: #545454;
    font-size: 1rem;
}

.green{
    color: #04ACB5;

}