.container{
    width: calc(100vw - 450px - 72px);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line{
    border-bottom: 1px solid #d9d9d9;
    width: 97%;
    margin: 20px 0 20px 0;
}

.box{
    width: 97%;
    height: 100%;
    display: flex;
    margin: 0 0 0 20px;
    overflow: auto;
}

.dndBox{
    width: 97%;
    height: 100%;
    display: flex;
}

.box::-webkit-scrollbar:vertical {
    display: none;
}

.box::-webkit-scrollbar {
    height: 5px;
}
.box::-webkit-scrollbar-track {
    background-color: #e3e3e3;
}
.box::-webkit-scrollbar-thumb {
    background-color: #04acb5;
}