.header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.slider {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 5px;
}

.inactiveSlider {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .header {
    padding: 0px 30px;
  }
}

@media screen and (min-width: 600px) {
  .title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 1.5rem;
  }
  .slider {
    width: 140px;
    height: 140px;
  }
}

@media screen and (max-width: 340px) {
  .title {
    font-size: 1.3rem;
  }
}
