.container {
  scrollbar-width: none;
  animation: fade-in 0.5s ease-in-out;
}

@media screen and (min-width: 1300px) {
  .container {
    height: calc(100vh - 85px);
    margin: 0 auto 0 auto;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 1300px) {
  .container {
    height: calc(100vh - 125px);
    overflow-y: scroll;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
