.remoteContainer {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 2;
  border-bottom: 1px solid #e6e6e6;
}

.cartRemote {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  height: 57px;
  max-width: 400px;
}

.category {
  cursor: pointer;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pointLine {
  pointer-events: none;
  position: absolute;
  bottom: 0px;
  background-color: #4fbdb7;
  height: 2px;
  transition: 0.5s ease;
}
