@media screen and (max-width: 1000px) {
  .container {
    border: 1px red solid;
    margin: 25px;
  }
}
@media screen and (min-width: 1000px) {
  .container {
    border: 1px red solid;
    margin-top: 20px;
  }
}
.dateBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dateBox p {
  font-weight: bold;
}
