.main{
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh,'1vh')*100);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeInOut 1s ease-in-out forwards;
    overflow: hidden;
}

.image{
    width: auto;
    height: 100px;
}

@keyframes fadeInOut {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}