.container{
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 1.3rem;
    color: #262626;
    font-weight: 600;
    margin-top: 80px;
    margin-bottom: 20px;
}