.title {
  transition: 1s ease-out;
  opacity: 0;
  transform: translateY(30px);
}
.subTitle {
  transition: 1.2s ease-out;
  opacity: 0;
  transform: translateY(50px);
}
.banner {
  opacity: 0;
  transform: translateX(50px);
  transition:
    opacity 0.8s ease-out,
    transform 0.8s ease-out;
}
.bannerBackLeft {
  opacity: 0;
  transform: translateX(50px);
  transition:
    opacity 0.4s ease-out,
    transform 0.4s ease-out;
  z-index: 1;
}
.bannerBackRight {
  opacity: 0;
  transform: translateX(50px);
  transition:
    opacity 1.2s ease-out,
    transform 1.2s ease-out;
  z-index: 2;
}
@media screen and (max-width: 860px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
  }
  .box1 {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    height: calc(100% - 350px);
    overflow: hidden;
  }
  .box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
  }
  .bannerBack {
    position: relative;
    width: 300px;
    height: 220px;
  }
  .banner {
    position: absolute;
    width: 500px;
    height: auto;
  }

  .bannerImg {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 10%);
  }

  .titleBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .title {
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 200%;
    text-align: right;
    padding-right: 30px;
  }
  .subTitleBox {
    margin-top: 10px;
    width: 100%;
  }
  .subTitle {
    width: 100%;
    color: #606060;
    line-height: 160%;
    text-align: right;
    margin-top: 10px;
    padding-right: 30px;
  }
}

@media screen and (min-width: 861px) {
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
  }
  .box1 {
    width: 55%;
    height: 500px;
    display: flex;
    align-items: center;
    padding-left: 20px;
  }
  .box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 500px;
  }
  .bannerBack {
    position: relative;
    width: 400px;
    height: 300px;
  }
  .banner {
    position: absolute;
    width: 400px;
    height: 280px;
  }

  .bannerImg {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 10%);
  }
  .bannerBackLeft {
    width: 400px;
    height: 280px;
    position: absolute;
    background-color: #aae9e6;
    top: 10px;
    left: -10px;
    z-index: -5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 10%);
  }
  .bannerBackRight {
    width: 400px;
    height: 280px;
    position: absolute;
    background-color: #59a4a0;
    top: -10px;
    left: 10px;
    z-index: -10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 10%);
  }

  .title {
    font-size: 1.7em;
    font-weight: bold;
    line-height: 210%;
  }

  .title br {
    display: none;
  }

  .subTitle {
    color: #606060;
    line-height: 210%;
  }
}

@media screen and (min-width: 1250px) {
  .container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
    overflow-x: hidden;
  }
  .box1 {
    width: 55%;
    height: 500px;
    display: flex;
    align-items: center;
    padding-left: 50px;
  }
  .box2 {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 45%;
    height: 500px;
  }
  .bannerBack {
    position: relative;
    width: 500px;
    height: 400px;
  }
  .banner {
    position: absolute;
    width: 500px;
    height: 350px;
  }
  .bannerImg {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 10%);
  }
  .bannerBackLeft {
    width: 500px;
    height: 350px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 10%);

    position: absolute;
    background-color: #aae9e6;
    top: 10px;
    left: -10px;
    z-index: -5;
  }
  .bannerBackRight {
    width: 500px;
    height: 350px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 10%);

    position: absolute;
    background-color: #59a4a0;
    top: -10px;
    left: 10px;
    z-index: -10;
  }
  .title {
    font-size: 2em;
    font-weight: bold;
    line-height: 210%;
  }
  .subTitle {
    color: #606060;
    font-size: 1.2rem;
    line-height: 210%;
  }
}
