.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.socialBtn:hover {
  transform: scale(1.02);
  transition: 0.5s ease-in-out;
}

@keyframes move {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (min-width: 360px) {
  .Logo {
    width: 238px;
    height: 75px;
  }
  .borderBox {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #87bfbc;
    gap: 10px;
    margin: 50px 0 30px 0;
  }
  .line {
    width: 100px;
    height: 0.1px;
    background-color: #87bfbc;
  }

  .socialBtn {
    width: 350px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-decoration: none;
    gap: 10px;
    font-size: 0.8rem;
    color: inherit; /* 상속된 색상 사용 */
    background-color: inherit;
  }

  .socialBtn:hover,
  .socialBtn:active,
  .socialBtn:focus {
    color: inherit;
    background-color: inherit;
    border: none;
  }

  .socialImg {
    width: 15px;
    height: 15px;
  }

  .center {
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 250px;
    margin-bottom: 20px;
  }

  .center p {
    font-size: 1.2rem;
    font-weight: 400;
    color: #c0d7d7;
    margin-top: 10px;
  }

  .center img {
    height: 13px;
    animation: move 2s infinite;
  }
}

@media screen and (max-width: 360px) {
  .Logo {
    width: 195px;
    height: 62px;
  }
  .borderBox {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #87bfbc;
    gap: 10px;
    font-size: 0.9rem;
    margin: 50px 0 30px 0;
  }
  .line {
    width: 80px;
    height: 0.1px;
    background-color: #87bfbc;
  }
  .socialBtn {
    width: 300px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-decoration: none;
    gap: 10px;
    font-size: 0.8rem;
  }

  .socialImg {
    width: 15px;
    height: 15px;
  }

  .center {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
    margin-bottom: 30px;
  }

  .center p {
    font-size: 0.9em;
    color: #c0d7d7;
    margin-top: 10px;
  }

  .center img {
    height: 10px;
  }
}

.googleFont {
  font-family: 'Roboto Medium';
  font-size: 12px;
}
