.container {
  display: flex;
  justify-content: center;
}

.pageBox {
  display: flex;
  gap: 30px;
  max-height: 300px;
}

.pageBox * {
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
}

.inactive {
  color: #858585;
}

.active {
  color: #000000;
  text-decoration: underline;
}
