.container{
    width: 100%;
    display: flex;
}

.imgBox{
    display: flex;
    width: 100px;
}

.swiper{
    display: flex;
    width: 100%
}

.img{
    width: 100px
}

@media screen and (max-width: 600px) {
    .container{
        margin-top: 20px;
    }

    .swiper{
        display: flex;
        width: 100%
    }

    .img{
        width: 80px
    }
}