@media screen and (min-width: 930px) {
    .container{
        width: 100%;
    }

    .swiperSlide{
        display: flex;
        align-items: center;
        width: calc(((100% - 900px) / 2) + 298px);
        height: 350px;
        padding-left: 2px;
    }
}

@media screen and (max-width: 930px) {
    .container{
        width: 100%;
    }

    .swiperSlide{
        display: flex;
        align-items: center;
        width: calc(((100% - 250px * 3) / 2) + 250px);
        height: 110px;
        padding-left: 2px;
    }
}

@media screen and (max-width: 800px) {
    .container{
        width: 100%;
    }

    .swiperSlide{
        display: flex;
        align-items: center;
        width: 275px;
        height: 110px;
        padding-left: 2px;
    }
}