.container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: #D9D9D9 1px solid;
    border-radius: 20px;
    padding: 5px 20px;
    width: fit-content;
    cursor: pointer;
    margin: 5px;
    font-size: 1rem;
    color: #333333;
    height: 40px;
}

.container:hover {
    background-color: #4FBDB7;
    border-color: #4FBDB7;
    color: white;
}

.check {
    background-color: #4FBDB7;
    border-color: #4FBDB7;
    color: white;
}

.p{
    display: inline;
    white-space: nowrap;
}