.box {
  display: none;
}

@media screen and (max-width: 1000px) {
  .box {
    position: fixed;
    display: block;
    max-width: 100vw;
    background-color: #fff;
    width: 100%;
    height: 90vh;
    transition: bottom 0.1s;
    height: calc(var(--vh, 1vh) * 90);
    outline: none;
    border: none;
    z-index: 11;
  }
  .dragBox {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dragBtn {
    background-color: #c4c4c4;
    width: 100px;
    height: 4px;
    border-radius: 10px;
  }
}
