.search {
  border-radius: 50px;
  border: 1px solid #04acb5;
  background-image: url(../../../../assets/button//light_search.svg);
  background-repeat: no-repeat;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 2%;
  margin-right: 2%;
  outline: none;
  width: 100%;
}

.search::placeholder {
  color: #6b7280;
}
