@media screen and (min-width: 860px) {
    .input {
        font-size: 1.4rem;
        font-weight: normal;
        color: #858687;
        justify-items: left;
        border: 0;
        outline: none;
        margin-top: 25px;
        width: 100%;
    }
}

@media screen and (max-width: 860px) {
    .input {
        font-size: 1.4rem;
        font-weight: normal;
        color: #858687;
        justify-items: left;
        border: 0;
        outline: none;
        margin-top: 30px;
        width: 100%;
    }
}