@media screen and (max-width: 860px){
    .container {
        width: 100vw;
        height: 100%;
    }
    .outer {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth;
    }
    
    .landingSlide {
        position: relative;
        width: 100%;
        height: 100vh;
        scroll-snap-align: start;
        transition: opacity 1s ease-in-out;
        opacity: 1;
    }
    .visible{
        opacity: 1;
        transform: translateX(0);
        transform: translateY(0);
    }
    
}
@media screen and (min-width: 861px){
    .container {
        width: 100%;
        height: 100%;
    }
    .outer {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth;
    }
    
    .landingSlide {
        position: relative;
        width: 100%;
        height: 100vh;
        scroll-snap-align: start;
        transition: opacity 1s ease-in-out;
        opacity: 1;
    }

}